<html>
    <head>
        <title>Django Boys blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Boys Blog</a></h1>
        </div>

        <div>
            <p>published: 25.10.2020, 12:29</p>
            <h2><a href="">My first post</a></h2>
            <p>It's my first post!</p>
        </div>

        <div>
            <p>published: 25.10.2020, 12:30</p>
            <h2><a href="">My second post</a></h2>
            <p>It's my second post!!:)</p>
        </div>
    </body>
</html>
